*{
    margin:0 ;
    padding: 0;
}
/* this is the start of nav */
nav{
    height: 50px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;

}
.logo{
    float: left;
    margin: 10px 10px;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
nav ul li a:hover{
    color: blue
}
/* start of hero section */

.copy-text{
    background-image: url("./Image/Screenshot\ 2022-06-12\ 103438adv2.png");
    height: 300px;
    width: 93%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px;
    
/* text-align: center;
font-size: 85px;
font-family: 'Times New Roman', Times, serif; */
}
.copy-text h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    padding-top: 35px;
}

.copy-text p{
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    text-align: left;
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    margin-bottom: 150px;
    }
.cities{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 700px;
    float: left;
}  
.border{
    border: 15px solid black; 
    background-color: cornflowerblue;
    height: 550px; 
    width: 400px;  
    text-align: inherit;
    background-position: center;
    float:left ;
    margin: 25px;
}
h3{
    text-align: center;
    padding: 15%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.border-box{
    border: 15px solid black;
    float: left;
    margin: 25px;
}
.border-2{ border: 15px solid black; 
    height: 550px; 
    width: 320px;  
    text-align: inherit;
    background-position: center;
    float:right ;
    margin: 25px;
}
h4{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.column{
    height: 500px;
    width: 365px;
    border: 15px solid black;
    float: left;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 50px;
}
.row{
    display: inline-block;
    float: clear;
}
h5{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left-arrow{
    color: green;
    font-size: 200px;
    float: left;
    height: 50px;
    margin-top: -110px;
    margin-bottom: 20px;
}
h6{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 120px;
}
.right-arrow{
    color: blue;
    font-size: 200px;
    float: right;
    height: 50px;
    margin-top: -110px;
}
.homer{
    margin-top: 120px;
    margin-left: 43px;
    
}.footer{
    background-image: url("./Image/cFg.gif");
    height: 60px;
    width: 93%;
    background-size: cover;
    padding-right: 40px;
    margin: 35px
}
 h4{
    font-size: 30px;
    font-weight: bolder;
    font-family: Geneva;
    margin-top: 3px;
    float: left;
 }
h5{
    font-size: 30px;
    font-weight: bolder;
    font-family: Geneva;
    float: right;
    padding-right: 3%;
    margin-top: 3px;
 }
.brand{ 
     float: left;
     margin-top: 25px;
     margin-left: 145px;
     margin-bottom: 50px;
}
.row-2{ 
     display: inline-block;
     float: clear
}
.footer{
     background-image: url("./Image/cFg.gif");
     height: 60px;
     width: 93%;
     background-size: cover;
     padding-right: 40px;
     margin: 35px
 }
 h4{
     font-size: 30px;
     font-weight: bolder;
     font-family: Geneva;
     float: left;
     padding-left: 3%;
     padding-top: 1%; 
     margin-bottom: 15px; 
}
h5{
     font-size: 30px;
     font-weight: bolder;
     font-family: Geneva;
     float: right;
     padding-right: 3%;
     padding-top: 1%;
}
        
        
        
            
            
        
        
        
        
        
        
        





    

    
    
    
        
        
    
    







   












  