*{
    margin:0 ;
    padding: 0;
    background-color: cyan;
}
/* this is the start of nav */
nav{
    height: 50px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo{
    float: left;
    margin: 10px 10px;
}
nav ul{
    float: right;
    list-style-type: none;
    background-color: white;
   
}
nav ul li{
    display: inline-block;
    margin: 15px;
    background-color: white;
   
}
nav ul li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background-color: white;
}
nav ul li a:hover{
    color: blue;
    background-color: white;
}
.copy-text{
    background-image: url("./Image/Screenshot\ 2022-06-18\ 112937contact.png");
    height: 600px;
    width: 475px;
    border: 15px solid black;
    margin-top: 80px;
    margin-left: 100px;
    text-align: center;
    background-size: cover;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 430px;
    background-color: blue;
}
.e-mail{
    float: right;
    border: 3px solid black;
    height: 350px;
    width:500px;
    margin-top: -550px;
    margin-right: 125px;
}
.form{
    font-size: 30px;
    margin-left: 20px;
}
h2{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 17px;
}
.footer{
    background-image: url("./Image/cFg.gif");
    height: 60px;
    width: 93%;
    background-size: cover;
    padding-right: 40px;
    margin: 35px
}
.footer, h4{
    background-image: url("./Image/cFg.gif");
    font-size: 30px;
    font-weight: bolder;
    font-family: Geneva;
    float: left;
    padding-left: 3%;
    padding-top: 1%; 
    margin-bottom: 15px; 
}
footer, h5{
    background-image: url("./Image/cFg.gif");
    font-size: 30px;
    font-weight: bolder;
    font-family: Geneva;
    float: right;
    padding-right: 3%;
    padding-top: 1%;
}








  