*{
    margin:0 ;
    padding: 0;
}
/* this is the start of nav */
nav{
    height: 50px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 3px solid blue;
  }
.logo{
    float: left;
    margin: 10px 10px;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
nav ul li a:hover{
    color: blue;
}
/* end of nav */

/* start of hero section */
section{
    width: 93%;
    height: 450px;
} 

.copy-text{
    background-image: url("./Image/cFg.gif");
    height: 350px;
    width: 100%;
    background-position-x: padding-box 25px, 25px, 25px, 25px ;
    background-size: cover;
    margin: 50px;
    text-align: center;
    font-size: 110px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.copy-text h2{
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
text-align: center;
}
.border-box{
    margin: 20px, 20px,20,px,20px;
    border: 15px, 15px, 15px, 15px;
    border-color: black;
    float: left ;
    text-align: center;
    padding-left: 100px;
} 
.footer{
    background-image: url("./Image/cFg.gif");
    height: 60px;
    width: 93%;
    background-size: cover;
    padding-right: 30px;
    margin: 35px
}
h4{
    font-size: 30px;
    font-weight: bolder;
    font-family: Geneva;
    /* text-align: center; */
    float: left;
    padding-left: 3%;
    padding-top: 1%;
    /* margin: 10px, 10px; */
}
h5{
    font-size: 30px;
    font-weight: bolder;
    font-family: Geneva;
    float: right;
    padding-right: 3%;
    padding-top: 1%;
}



    
    







